h1{
    font-size: 1.2em !important;
}

.breadcrumb-item{
    font-size: .9em;
}

.main-sidebar{
    overflow: hidden;
}

.small-box{
    background-color: white;
}

.container-fluid #calendar{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 1em;
}

.employee-details{
    font-size: .85em;
}

.modal-header{
    background:#2C3E50;
    color:white;
}

.modal-title{
    font-weight: bold;
}

select option {
    font-size: .85em;
}

.leave_request {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.leave_request:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}