h1{
    font-size: 1.2em !important;
}

.breadcrumb-item{
    font-size: .9em;
}

.main-sidebar{
    overflow: hidden;
}

.small-box{
    background-color: white;
}

.container-fluid #calendar{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 1em;
}

.employee-details{
    font-size: .85em;
}